.masthead {
    height:100vh;
    min-height:50px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url('https://cdn.pixabay.com/photo/2018/08/03/11/48/frankfurt-3581739_640.jpg');
   
}